.nav-top{
    background-color: black;
    height: 40px;
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}
.nav-top>p{
    margin: 0px;
}
.nav{
    height: 120px;
    margin: 0px;
    z-index: 0;
    background-color: white;
}
#nav-content{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}
#logo{
    position: absolute;
    top: 10px;
    float: left;
    width: 80px;
    height: 80px;
    left:7%;
}
#nav-links{
    position: absolute;
    top: 30px;
    margin-left:20%;
    
}
#nav-links>a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    display: inline-block;
    margin-left: 30px;
    
}
body{
    padding: 0px;
    margin:0px;
    background-color: white;
}

#other-links{
    position: absolute;
    top:3px;
    right: 0px;
}
#other-links>a{
    text-decoration: none;
    color:black;
    display: inline-block;
    margin-right: 5px;
}
#other-links>a:hover{
    text-decoration: underline;
}
#search-bar{
    position: absolute;
    top:30px;
    right: 100px;
}
#search-bar>form>input{
    height: 25px;
}
.fa-solid{
    position: relative;
    left: -25px;
    top:2px
}
.carousel-inner>img{
    width: 100%;
    height: 300px;
}
.carousel-text{
    position: absolute;
    top: 20%;
    left: 8%;
    font-size: 20px;
    color: white;
    font-weight: 900;
}
#nav{
    display: block;
    width: 100%;
    position:sticky ;
    top:0px;
}
.cards{
   margin-left: 40px;
   margin-right: 40px;
   background-color: grey;
   position: relative;
    padding-bottom: 50px;
    
}
.card{
    background-color: white;
    width:22%;
    height: 500px;
    display: inline-block;
    margin: 10px;
    
}
